body {
	/*max-width: 1000px; */
    margin: 0;
    padding: 0px;
	box-sizing: border-box;
	background: linear-gradient(to right, rgb(10, 30, 138), rgb(12, 43, 129), rgb(24, 91, 167));
	font-family: "Helvetica", "Lucida Grande", sans-serif;
	color: #d8d6ee;
	line-height: 1.5;
}

/*Ao selecionar o conteudo da pagina, sera com a cor de sua escolha*/
::selection {
	background-color: #fff; /*altera a cor de fundo da selection*/
	color: #000; /*altera a fonte*/
}

.corpo {

	margin: 0 15%;
}

/*forms*/
#form-cadastro {
	background-color: #fff;
	padding: 30px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	width: 300px;
}

label {
	margin-bottom: 5px;
	color: #f7f6f6;
}

/* Estiliza o botão de envio */
input {
	width: 20%;
	padding: 10px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 15px;
	transition: background-color 0.3s ease;
}

/*fim do forms*/

/*raio*/
.tela {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	padding: 3px;
	border-radius: 5px;
	background: rgba(26, 8, 189, 0.644), rgba(21, 24, 204, 0.842);
}

.raio polygon {
	fill: #fffb00;
	stroke: #bebb05;
	stroke-width: 5;
	animation: brilho 2s infinite ease-in-out, pulso 3s infinite ease-in-out;
	transform: scale(0.4);
	transform-origin: center;
}

/* Animações */
@keyframes brilho {
	0% {
		filter: drop-shadow(0 0 5px rgba(25, 0, 255, 0.3));
	}

	50% {
		filter: drop-shadow(0 0 20px rgb(0, 60, 255));
	}

	100% {
		filter: drop-shadow(0 0 5px rgba(0, 4, 255, 0.3));
	}
}

/*Fim do raio*/

/*inicio do carrossel*/
/* Container centralizado */

/* Estilo principal do carrossel */
/* Estilo principal do carrossel */
.carrossel-container {
	position: relative;
	border-radius: 15px 15px 15px 15px;
	max-width: 100%;
	margin-top: 3%;
	overflow: hidden;
}

.carrossel {
	display: flex;
	transition: transform 0.5s ease;
}

.slide {
	min-width: 100%;
	height: 500px;
	transition: opacity 1s ease;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.slide img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.legenda {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 5px;
}

.legenda h3 {
	margin: 0;
	font-size: 24px;
}

.legenda p {
	margin: 5px 0 0;
	font-size: 16px;
}

/* Botões de navegação fixos */
.btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	font-size: 24px;
	border: none;
	padding: 10px;
	cursor: pointer;
	z-index: 2;
}

.prev {
	left: 10px;
}

.next {
	right: 10px;
}

/* Indicadores de navegação */
.indicadores {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	gap: 10px;
}

.indicadores span {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
}

.indicadores .active {
	background-color: white;
}



@media (max-width: 600px) {
	.carrossel {
		height: 300px;
	}
	.slide {
		height: 300px;
	}

	.slide .active{
		height: 300px;
	}
	.slide img {
		height: 300px;
	}

	.legenda h3 {
		font-size: 1.1rem;
	}

	.legenda p {
		font-size: 0.9rem;
	}
}

/*fim do carrossel*/

.video-container {
	position: relative;
	width: 100%;
	max-width: 900px;
	margin: 20px auto;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border-radius: 12px;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/*cpf*/
.container-cpf {
	width: 100%;
	max-width: 320px;
	background: rgb(8, 91, 199);
	margin: 50px auto;
	padding: 50px;
	border-radius: 20px;
	box-shadow: 0 0 12px rgba(235, 232, 232, 0.1);
}

h2 {
	text-align: center;
	margin-bottom: 20px;
}

.campo {
	margin-bottom: 18px;
}

.campo label {
	display: block;
	font-weight: bold;
}

.campo input {
	width: 100%;
	padding: 10px;
	margin-top: 4px;
	border-radius: 6px;
	border: 1px solid #1b7ccc;
	font-size: 16px;
}

::placeholder {
	color: #f5efef;
}

.campo .erro {
	font-size: 13px;
	color: red;
	display: block;
	height: 14px;
}

input.valido {
	border-color: #2ecc71;
}

input.invalido {
	border-color: #e74c3c;
}

/* Botão animado */
#btnEnviar {
	width: 100%;
	padding: 12px;
	background: #34db3c;
	color: white;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 18px;
	margin-top: 10px;
	transition: 0.2s;
}

#btnEnviar:hover {
	background: #2980b9;
	transform: scale(1.03);
}

.sucesso {
	text-align: center;
	margin-top: 15px;
	padding: 10px;
	background: #2ecc71;
	color: white;
	border-radius: 6px;
	display: none;
	font-weight: bold;
	animation: aparecer 0.4s ease-out;
}

@keyframes aparecer {
	from {
		opacity: 0;
		transform: scale(0.9);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

/* ----- MODAL ----- */
.modal {
	display: none;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	justify-content: center;
	align-items: center;
}

.modal-content {
	background: #ffffff;
	color: #333;
	padding: 25px;
	width: 90%;
	max-width: 400px;
	border-radius: 10px;
	text-align: center;
	animation: popup 0.3s ease-out;
}

.modal-content h2 {
	margin-bottom: 10px;
	color: #2ecc71;
}

.modal-content p {
	font-size: 18px;
}

.fechar {
	float: right;
	font-size: 26px;
	cursor: pointer;
	color: #555;
	font-weight: bold;
}

@keyframes popup {
	from {
		transform: scale(0.7);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

/* fim cpf*/

img {
	max-width: 100%;
	height: auto;
}

.titulo {
	padding: 10px;
	font-size: 32px;
	background-color: rgb(62, 39, 194);
	border-radius: 10px;
	text-align: center;
}

.aristogrecia {
	font-family: "Tilt Prism", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-size: 50px;
	text-align: center;
	font-style: normal;
	font-variation-settings:
		"XROT" 0,
		"YROT" 0;
}

.mitos {
	padding: 1px;
	font-size: 20px;
}

.meu-texto-justificado {
	text-align: justify;
}

.subtitulo {
	border-bottom: 2px solid rgb(190, 193, 230);
}

figure {
	margin: 30px 0;
	padding: 10px;
	text-align: center;
	background-color: rgb(33, 39, 158);
	border: 1px solid rgb(15, 3, 3);
	border-radius: 35px;
}

figcaption {
	margin-top: 10px;
}

.tabela_img,
.fundo,
.gods,
.aristoteles,
.ciclopes,
.armas,
.construcao-antiga {
	margin: 20px auto;
	float: none;
}

.ciclopes,
.armas,
.construcao-antiga {
	float: left;
	margin-right: 20px;
	width: 45%;
}

.tabela_img {
	float: right;
	width: 55%;
}


table,
th,
td {
	border: 4px solid rgb(17, 6, 78);
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	background-color: #4c227c;
	padding: 8px;
}

a {
	color: rgb(241, 189, 17);
}

/* Início do MENU */
.menu {
	display: flex;
	height: 100px;
	justify-content: space-around;
	align-items: center;
	background-color: #040252;
}
header {
	display: flex;
}

.topnav {
	display: flex;
	align-items: center;
	background-color: #040252;
	overflow: hidden;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.active {
	color: white;
}

.topnav .icon {
	display: none;
}

.dropdown {
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
	font-size: 17px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
	background-color: #0421c2;
	color: white;
}

.dropdown-content a:hover {
	background-color: #ddd;
	color: black;
}

.dropdown:hover .dropdown-content {
	display: block;
}

@media screen and (max-width: 600px) {

	.topnav a:not(:first-child),
	.dropdown .dropbtn {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}

	.topnav.responsive a.icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.topnav.responsive .dropdown {
		float: none;
	}

	.topnav.responsive .dropdown-content {
		position: relative;
	}

	.topnav.responsive .dropdown .dropbtn {
		display: block;
		width: 100%;
		text-align: left;
	}
}

/*FIM do menu*/

.contato,
.endereco,
.rodape {
	text-align: center;
}

.endereco__secao,
.contato__secao--telefone,
.email {
	display: inline-block;
	vertical-align: top;
	margin: 10px 15px;
}

.rodape {
	padding: 1.75em 0;
	font-size: 1.1rem;
	border-top: 2px solid #d8d6ee;
	margin-top: 30px;
}

.rodape__logo {
	width: 6em;
	border-radius: 60px;
	vertical-align: middle;
}

.rodape__copyright {
	display: inline;
	margin-left: 1em;
	vertical-align: middle;
}

@media (max-width: 900px) {

	.ciclopes,
	.tabela_img,
	.armas,
	.construcao-antiga {
		float: none;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 600px) {

	.titulo {
		font-size: 26px;
	}

	.aristogrecia {
		font-size: 38px;
	}

	.mitos {
		font-size: 18px;
	}

	.endereco__secao,
	.contato__secao--telefone,
	.email,
	.contato__info-descricao {
		display: block;
		margin: 10px auto;
	}

	.rodape__copyright {
		display: block;
		margin-top: 15px;
		margin-left: 0;
	}
}

@media screen and (max-height: 450px) {
	.sidebar {
		padding-top: 15px;
	}

	.sidebar a {
		font-size: 18px;
	}
}